<a href="https://colab.research.google.com/github/Alifhidayatunnisa/Basic-Python-Programming-for-Data-Science/blob/main/%5BKD0301%5D_List%2C_String_%26_Dictionary.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

![alt text](https://drive.google.com/uc?id=1Jnmc3tPdh1jxyNwURPKEqzpM_qdEwaJc
)

Assalamualaikum warahmatullahi wabarakatuh.

***Robbi Zidni Ilma Warzuqni Fahma***

Semoga Allah memberi kemudahan untuk kita memperoleh ilmu yang bermanfaat.

Ini adalah notebook yang disusun untuk program **Kelas Dasar Pejuang Data 2.0** .

Ini adalah **Notebook, List, String, & Dictionary Pada Python**:

## **Hasil Yang Ingin Dicapai**
1. Memahami List Pada Python
2. Mengenal dan memahami method-method pada List Python
3. Memahami String Pada Python
4. Mengenal dan memahami method-method pada String Python
5. Memahami Dictionary Pada Python
6. Mengenal dan memahami method-method pada Dictionary Python

# **List Pada Python**
List adalah jenis kumpulan data terurut (ordered sequence), dan merupakan salah satu variabel yang sering digunakan pada Python. Serupa, namun tak sama dengan array pada bahasa pemrograman lainnya. Bedanya, elemen List pada Python tidak harus memiliki tipe data yang sama. Mendeklarasikan List cukup mudah dengan kurung siku dan elemen yang dipisahkan dengan koma.

## Membuat List

In [ ]:
matkul = ["fuzzy", "pdp", "metnum" , "graf"]
print(matkul)

['fuzzy', 'pdp', 'metnum', 'graf']

In [ ]:
setahun = [12, "bulan", 48, "minggu", 365, "hari"] 
print(setahun)

[12, 'bulan', 48, 'minggu', 365, 'hari']

## Mengakses elemen List

Menampilkan elemen
caranya dengan menggunakan fungsi print

In [ ]:
matkul = ["fuzzy", "pdp", "metnum" , "graph"]
print(matkul[2])
print(matkul[2:])
print(matkul[0:3:2])
print(matkul[-2])
print(matkul[-4:-1])

metnum
['metnum', 'graph']
['fuzzy', 'metnum']
metnum
['fuzzy', 'pdp', 'metnum']

In [ ]:
sebulan = [12, 30, 31, "hari", 730, "jam"]
print(sebulan[1])
print(sebulan[2:5])
print(sebulan[0:5:2])
print(sebulan[-6])
print(sebulan[-3:-1])

30
[31, 'hari', 730]
[12, 31, 730]
12
['hari', 730]

## Mengubah elemen List

cara mengubah elemen dalam list

In [ ]:
matkul = ["fuzzy", "pdp", "metnum" , "graf" , "sisdim"]
matkul[3] = "aktuaria"
print(matkul)

['fuzzy', 'pdp', 'metnum', 'aktuaria', 'sisdim']

In [ ]:
seminggu = [7, "hari", 168, "jam", 10080, "menit"]
seminggu[0] = "senin"
print(seminggu)

['senin', 'hari', 168, 'jam', 10080, 'menit']

## Looping di dalam List

looping pada list

In [ ]:
matkul = ["fuzzy", "pdp", "metnum" , "graf"]

for x in matkul:
  print(x)

fuzzy
pdp
metnum
graf

In [ ]:
sehari = [24, "jam", 60, "menit", 86400, "detik"]

for s in sehari :
  print(s)

24
jam
60
menit
86400
detik

## Cek elemen pada List

cara mengecek apakah suatu elemen berada dalam list

In [ ]:
matkul = ["fuzzy", "pdp", "metnum" , "graf"]
if "fuzzy" in matkul:
  print('fuzzy termasuk matkul')

fuzzy termasuk matkul

In [ ]:
waktu = [24, "jam", 1440, "menit", 86400, "detik"]
if 1440 in waktu :
  print('1440 termasuk waktu')

1440 termasuk waktu

## Menghitung jumlah elemen List

cara mengetahui jumlah elemen dalam list

In [ ]:
matkul = ["fuzzy", "pdp", "metnum" , "graf"]
print(len(matkul))

4

In [ ]:
tanggal = [1, "sampai", 30, "atau", 31]
print(len(tanggal))

5

# **Berbagai Method untuk List pada Python**

## Menambah elemen List

cara menambahkan elemen dalam list
ada 2 cara untuk menambahkan elemen pada list, yaitu;
1. menggunakan metode append()
2. menggunakan metode insert()

In [ ]:
#metode append : menambahkan elemen pada baris terakhir
matkul = ["fuzzy", "pdp", "metnum" , "graf"]
matkul.append("anreg")
print(matkul)

['fuzzy', 'pdp', 'metnum', 'graf', 'anreg']

In [ ]:
benda = ["kursi", "meja", "kasur"]
benda.append("lemari")
print(benda)

['kursi', 'meja', 'kasur', 'lemari']

In [ ]:
#metode insert : memasukkan elemen pada baris tertentu
matkul = ["fuzzy", "pdp", "metnum" , "graf"]
matkul.insert(1, 'anriil')
print(matkul)

['fuzzy', 'anriil', 'pdp', 'metnum', 'graf']

In [ ]:
benda = ["kursi", "meja", "kasur"]
benda.insert(3, "lemari")
print(benda)

['kursi', 'meja', 'kasur', 'lemari']

## Menghapus elemen List

menghapus elemen dalam list
ada beberapa cara untuk menghapus elemen
1. menggunakan keyword del
2. menggunakan metode remove()
3. menggunakan metode pop()
4. menggunakan metode clear()

In [ ]:
#menggunakan keyword del,(bukan hanya bisa menghapus elemen tapi bisa juga untuk mnghapus list)
matkul = ["fuzzy", "pdp", "metnum" , "graf"]
del matkul[3]
print(matkul)
matkul1 = ["fuzzy", "pdp", "metnum" , "graf"]
del matkul

['fuzzy', 'pdp', 'metnum']

In [ ]:
dapur = ["panci", "wajan", "teflon", "sisir", "piring"]
del dapur[3]
print(dapur)
dapur1 = ["panci", "wajan", "teflon", "sisir", "piring"]
del dapur

['panci', 'wajan', 'teflon', 'piring']

In [ ]:
#menggunakan metode remove(): menggunakan remove() harus menyebutkan nama elemennya langsung
matkul = ["fuzzy", "pdp", "metnum" , "graf"]
matkul.remove("fuzzy")
print(matkul)

['pdp', 'metnum', 'graf']

In [ ]:
dapur = ["panci", "wajan", "teflon", "sisir", "piring"]
dapur.remove("sisir")
print(dapur)

['panci', 'wajan', 'teflon', 'piring']

In [ ]:
#menggunakan metode pop(a): menghapus elemen baris ke-a atau baris terakhir
matkul = ["fuzzy", "pdp", "metnum" , "graf"]
matkul.pop(2)
matkul.pop()
print(matkul)

['fuzzy', 'pdp']

In [ ]:
dapur = ["panci", "wajan", "teflon", "sisir", "piring"]
dapur.pop(3)
print(dapur)

['panci', 'wajan', 'teflon', 'piring']

In [ ]:
dapur = ["panci", "wajan", "teflon", "sisir", "piring"]
dapur.pop()
print(dapur)

['panci', 'wajan', 'teflon', 'sisir']

In [ ]:
#menggunakan metode clear(): menghapus seluruh elemen pada list
matkul = ["fuzzy", "pdp", "metnum" , "graf"]
matkul.clear()
print(matkul)

[]

In [ ]:
dapur = ["panci", "wajan", "teflon", "sisir", "piring"]
dapur.clear()
print(dapur)

[]

## Mengkopi List

copy list
ada 2 cara untuk copy list
1. menggunakan metode copy()
2. menggunakan metode list()

In [ ]:
#menggunakan metode copy()
matkul = ["fuzzy", "pdp", "metnum" , "graf"]
matlah = matkul.copy()
print(matlah)

['fuzzy', 'pdp', 'metnum', 'graf']

In [ ]:
hari = ["senin", "selasa", "rabu"]
harian = hari.copy()
print(harian)

['senin', 'selasa', 'rabu']

In [ ]:
#menggunakan metode list()
matkul = ["fuzzy", "pdp", "metnum" , "graf"]
matlah = list(matkul)
print(matlah)

['fuzzy', 'pdp', 'metnum', 'graf']

In [ ]:
hari = ["senin", "selasa", "rabu"]
harian = list(hari)
print(harian)

['senin', 'selasa', 'rabu']

## Menggabung List

cara menggabungkan 2 list
1. menggunakan tanda +
2. menggunakan metode append()
3. menggunakan metode extend()

In [ ]:
#menggnakan tanda +
matkul = ["fuzzy", "pdp", "metnum" , "graf"]
angka = [1, 2, 3, 4]

hasil = matkul + angka
print(hasil)

['fuzzy', 'pdp', 'metnum', 'graf', 1, 2, 3, 4]

In [ ]:
day = ["kamis", "jumat", "sabtu" , "minggu"]
angka = [4, 5, 6, 7]

hasil = day + angka
print(hasil)

['kamis', 'jumat', 'sabtu', 'minggu', 4, 5, 6, 7]

In [ ]:
#menggunakan metode append
matkul = ["fuzzy", "pdp", "metnum" , "graf"]
angka = [1, 2, 3, 4]

for x in angka:
  matkul.append(x)

print(matkul)

['fuzzy', 'pdp', 'metnum', 'graf', 1, 2, 3, 4]

In [ ]:
day = ["kamis", "jumat", "sabtu" , "minggu"]
angka = [4, 5, 6, 7]

for x in angka :
  day.append(x)

print(day)

['kamis', 'jumat', 'sabtu', 'minggu', 4, 5, 6, 7]

In [ ]:
#menggunakan metode extend
matkul = ["fuzzy", "pdp", "metnum" , "graf"]
angka = [1, 2, 3, 4]

matkul.extend(angka)
print(matkul)

['fuzzy', 'pdp', 'metnum', 'graf', 1, 2, 3, 4]

In [ ]:
day = ["kamis", "jumat", "sabtu" , "minggu"]
angka = [4, 5, 6, 7]

day.extend(angka)
print(day)

['kamis', 'jumat', 'sabtu', 'minggu', 4, 5, 6, 7]

# **String pada Python**

## *String Literals*
####String literal dalam python diapit oleh tanda kutip tunggal, atau tanda kutip ganda
####'Buku' = "Buku" dalam python ini sama saja
####Anda dapat menampilkan literal string dengan fungsi print ():

In [ ]:
#Contoh :
print("Hello")
print('Hello')

Hello
Hello

Expected output:
```
Hello
Hello
```

In [ ]:
#Mulai Program mu....^_^
print("hai kamuu")
print('hai kamuu')

hai kamuu
hai kamuu

## *Assign String to a Variable*
####Menetapkan string ke variabel dilakukan dengan nama variabel diikuti dengan tanda sama dengan dan stringnya:

In [ ]:
#Contoh
a = "Hello"
print(a)

Hello

Expected output:
```
Hello
```
Penjelasan :
a adalah variabel
kemudian diikuti tanda samadengan =
kemudian masukkan nilai berupa string yaitu "Hello"

In [ ]:
#Mulai Program mu....^_^
b = "semangat ya"
print(b)

semangat ya

## *Multiline Strings*
####Kita dapat menetapkan string multiline ke variabel dengan menggunakan tiga tanda kutip:

In [ ]:
#Contoh 1
a = '''PSDS adalah kelompok studi Data Science
yang dibentuk oleh mahasiswa
program studi Matematika.'''
print(a)

PSDS adalah kelompok studi Data Science
yang dibentuk oleh mahasiswa
program studi Matematika.

Expected output:
```
PSDS adalah kelompok studi Data Science
yang dibentuk oleh mahasiswa
program studi Matematika.

```

In [ ]:
#Mulai Program mu....^_^
c = '''Namaku Nisa aku mengikuti PSDS (Pusat Studi Data Science) dikampusku, yaitu UAD.
Aku adalah mahasiswa jurusan Matematika semester 6.'''
print(c)

Namaku Nisa aku mengikuti PSDS (Pusat Studi Data Science) dikampusku, yaitu UAD.
Aku adalah mahasiswa jurusan Matematika semester 6.

Kita bisa juga menggunakan double tanda kutip, misal : ```"""stringnya"""```

In [ ]:
#Contoh 2
a = """PSDS adalah kelompok studi Data Science
yang dibentuk oleh mahasiswa
program studi Matematika."""
print(a)
#Hasilnya, jeda baris disisipkan pada posisi yang sama seperti pada kode.

PSDS adalah kelompok studi Data Science
yang dibentuk oleh mahasiswa
program studi Matematika.

Expected output:
```
PSDS adalah kelompok studi Data Science
yang dibentuk oleh mahasiswa
program studi Matematika.
```

Penjelasan : jeda baris disisipkan pada posisi yang sama seperti pada kode.

In [ ]:
#Mulai Program mu....^_^
c = """Namaku Nisa aku mengikuti PSDS (Pusat Studi Data Science) dikampusku, yaitu UAD.
Aku adalah mahasiswa jurusan Matematika semester 6."""
print(c)

Namaku Nisa aku mengikuti PSDS (Pusat Studi Data Science) dikampusku, yaitu UAD.
Aku adalah mahasiswa jurusan Matematika semester 6.

## *Strings are Arrays*
####Seperti banyak bahasa pemrograman populer lainnya, string dalam Python adalah array byte yang mewakili karakter unicode.
####Namun, Python tidak memiliki tipe data karakter, satu karakter hanyalah string dengan panjang 1
####Tanda kurung siku dapat digunakan untuk mengakses elemen string.

In [ ]:
#Contoh
a = "Hello, World!"
print(a[1])

e

Expected output:
```
e
```
Penjelasan : Dapatkan karakter di posisi 1 (ingat bahwa karakter pertama memiliki posisi 0):

In [ ]:
#Mulai Program mu....^_^
d = "Jangan menyerah!"
print(d[12])

r

## *Slicing*
####Anda dapat mengembalikan berbagai karakter dengan menggunakan sintaksis slice.
####Tentukan indeks awal dan indeks akhir, dipisahkan oleh titik dua, untuk mengembalikan bagian dari string.

In [ ]:
#Contoh :
b = "Hello, World!"
print(b[2:5])
#Dapatkan karakter dari posisi 2 ke posisi 5 (tidak termasuk):

llo

Expected output:
```
llo
```

In [ ]:
#Mulai Program mu....^_^
e = "Kamu lagi apa?"
print(e[1:12])

amu lagi ap

## *Negative Indexing*
Gunakan indeks negatif untuk memulai potongan dari ujung string:

In [ ]:
#Contoh
b = "Hello, World!"
print(b[-5:-2])
#Dapatkan karakter dari posisi 5 ke posisi 1 (tidak termasuk), mulai hitungan dari akhir string:

orl

Expected output:
```
orl
```

In [ ]:
#Mulai Program mu....^_^
f = "aku suka bermain game!"
print(f[-10:-1])

main game

In [ ]:
#Contoh
a = "Hello, World!"
print(len(a))
#Fungsi len () mengembalikan panjang string:

13

Expected Output :
```
13
```

In [ ]:
#Mulai Program mu....^_^
f = "aku suka bermain game!"
print(len(f))

22

## *Check String*
Untuk memeriksa apakah frase atau karakter tertentu ada dalam sebuah string, kita dapat menggunakan kata kunci in atau not in

In [ ]:
#Contoh 1
#Periksa apakah frase "ain" ada dalam teks berikut:
txt = "Hujan di Spanyol umumnya tetap di dataran"
x = "jan" in txt
print(x)

True

Expected Output :
```
True
```

In [1]:
#Mulai Program mu....^_^
txt = "Hari ini dirumahku hujan"
g = "uma" in txt
print(g)

True

In [ ]:
#Contoh
#Periksa apakah frase "ain" TIDAK ada dalam teks berikut:
txt = "Hujan di Spanyol umumnya tetap di dataran"
x = "jan" not in txt
print(x)

False

Expected Output :
```
False
```

In [2]:
#Mulai Program mu....^_^
txt = "Hari ini dirumahku hujan"
g = "uma" not in txt
print(g)

False

## *String Concatenation*
Untuk menggabungkan, atau menggabungkan, dua string Anda dapat menggunakan operator +.

In [ ]:
#Contoh
#Gabungkan variabel a dengan variabel b menjadi variabel c
a = "Hello"
b = "World"
c = a + b
print(c)

HelloWorld

Output :
```
HelloWorld
```

In [5]:
#Mulai Program mu....^_^
v = "aku"
x = "dan"
y = "kamu"
z = v + x + y
print(z)

akudankamu

In [ ]:
#Contoh
#Untuk menambahkan spasi di antara keduanya, tambahkan " ":
a = "Hello"
b = "World"
c = a + " " + b
print(c)

Hello World

Output :
```
Hello World
```

In [6]:
#Mulai Program mu....
v = "aku"
x = "dan"
y = "kamu"
z = v + " " + x + " " + y
print(z)

aku dan kamu

##**String Format**
####Seperti yang kita pelajari di bab Variabel Python, kita tidak bisa menggabungkan string dan angka seperti ini:

In [ ]:
#Contoh
umur = "20"
txt = "Nama saya Mujhid, saya " + umur
print(txt)

Nama saya Mujhid, saya 20

Output :
```
Nama saya Mujhid, saya 20
```

In [7]:
semester = "6"
txt = "Nama saya Nisa, saya semester " + semester
print(txt)

Nama saya Nisa, saya semester 6

Tapi kita bisa menggabungkan string dan angka dengan menggunakan metode format ()!

Metode format () mengambil argumen yang diteruskan, memformatnya, dan menempatkannya dalam string di mana placeholder {} berada:

# *Berbagai Method untuk String pada Python*

Python memiliki seperangkat metode bawaan yang dapat Anda gunakan pada string.

### Strip()

Method strip() berfungsi untuk menghapus spasi apa pun dari awal atau akhir

In [ ]:
#Contoh
a = " Hello, World! "
print(a.strip()) # returns "Hello, World!"

Hello, World!

Output :
```
Hello, World!
```

In [10]:
#Mulai Program Mu....
h = " Bulan, Bintang! "
print(h.strip())

Bulan, Bintang!

###Lower()
#####Metode lower () mengembalikan string dalam huruf kecil:

In [ ]:
#Contoh
a = "HELLO, World!"
print(a.lower())

hello, world!

Output :
```
hello, world!
```

In [11]:
i = "Awan, MATAHARI!"
print(i.lower())

awan, matahari!

###Upper()
#####Metode upper() mengembalikan string dalam huruf besar:

In [ ]:
#Contoh
a = "Hello, World!"
print(a.upper())

HELLO, WORLD!

Output :
```
HELLO, WORLD!
```

In [12]:
i = "awan, matahari!"
print(i.upper())

AWAN, MATAHARI!

###Replace()
#####Metode replace () menggantikan string dengan string lain:

In [ ]:
#Contoh
a = "Hello, World!"
print(a.replace("H", "J"))

Jello, World!

Output :
```
Jello, World!
```

In [13]:
j = "Cerah, Hujan!"
print(j.replace("C", "G"))

Gerah, Hujan!

###Split()
#####Metode split () membagi string menjadi beberapa substring jika menemukan contoh pemisah:

In [ ]:
#Contoh
a = "Hello, World!"
print(a.split(",")) # returns ['Hello', ' World!']

['Hello', ' World!']

Output :
```
['Hello', ' World!']
```

In [14]:
k = "Binatang, Kelinci!"
print(k.split(","))

['Binatang', ' Kelinci!']

###Capitalize()
#####Metode capitalize () menggantikan karakter pertama menjadi huruf kapital

In [ ]:
#Contoh
a = "hello, world"
print(a.capitalize())

Hello, world

Output :
```
Hello, world
```

In [15]:
l = "apa kabar?"
print(l.capitalize())

Apa kabar?

###Casefold()
#####Metode casefold () Mengubah string menjadi huruf kecil

In [ ]:
#Contoh
a = "Hello, World"
print(a.casefold())

hello, world

In [16]:
m = "Apa Kabar?"
print(m.casefold())

apa kabar?

###Count()
#####Metode count () Mengembalikan frekuensi nilai yang ditentukan muncul dalam string

In [ ]:
# definiskan string
string = "Python is awesome, isn't it?"
substring = "is"

count = string.count(substring)

# print count
print("Jumlah :", count)

Jumlah : 2

Output :
```
Jumlah : 2
```

In [18]:
string = "Aku lagi mengerjakan tugas lagi dan lagi"
substring = "lagi"

count = string.count(substring)

print("Jumlah :", count)

Jumlah : 3

###Encode()
#####Metode encode () mengembalikan string yang berada di tengah

In [ ]:
a = "My name is Mujhid"

x = a.encode()

print(x)

b'My name is Mujhid'

In [19]:
n = "Nama kamu siapa"

x = n.encode()

print(x)

b'Nama kamu siapa'

###Swapcase()
#####Metode swapcase () untuk menukar kasus, huruf kecil menjadi huruf besar dan sebaliknya

In [ ]:
a = "My Name is Mujhid"

x = a.swapcase()

print(x)

mY nAME IS mUJHID

Output :
```
mY nAME IS mUJHID
```

In [20]:
o = "Lagi Kuliah dari Rumah nih"

x = o.swapcase()

print(x)

lAGI kULIAH DARI rUMAH NIH



---


# **Dictionary Pada Python**


---


Berbeda dengan List dan Tuple, didalam Dictionary Python setiap urutanya berisi key dan value yang bersifat tidak berurutan. 
1. Setiap key dipisahkan dari value-nya oleh titik dua (:)
2. item dipisahkan oleh koma, dan semuanya tertutup dalam kurung kurawal. 
3. Dictionary kosong tanpa barang ditulis hanya dengan dua kurung kurawal, seperti ini: {}.

**Contoh 1:**

In [ ]:
dict= {'Universitas' : 'UAD' , 'Prodi' : 'Matematika' , 'Tahun' : 2018 , 'NIM' : 180015065}
print(type(dict))

<class 'dict'>

Yuk coba buat dictionary kamu :)

In [23]:
#Membuat directory
dicti = {'Nama' : 'Nisa' , 20 : 'Umur' , 'Lahir' : 2000 , 'Status' : 'Mahasiswa'}
print(type(dicti))

<class 'dict'>

## Mengakses Nilai pada Dictionary
Untuk mengakses elemen Dictionary, dapat menggunakan kurung siku yang berisi key ['key'] untuk mendapatkan value yang diinginkan.

In [ ]:
dict= {'Universitas' : 'UAD' , 'Prodi' : 'Matematika' , 'Tahun' : 2018 , 1800015065 : 'NIM'}
print(type(dict))
print("dict['Universitas'] = ", dict['Universitas'])
print("dict['Prodi'] =", dict['Prodi'])
print("dict['Tahun'] =", dict['Tahun'])
print("dict[1800015065] = ", dict[1800015065])

<class 'dict'>
dict['Universitas'] =  UAD
dict['Prodi'] = Matematika
dict['Tahun'] = 2018
dict[1800015065] =  NIM

Nah sekarang coba akses nilai di dictionary kamu, go go go

In [25]:
#Mengakses nilai directory
dicti = {'Nama' : 'Nisa' , 20 : 'Umur' , 'Lahir' : 2000 , 'Status' : 'Mahasiswa'}
print(type(dicti))
print("dicti['Nama'] = ", dicti['Nama'])
print("dicti[20] =", dicti[20])
print("dicti['Lahir'] =", dicti['Lahir'])
print("dicti['Status'] = ", dicti['Status'])

<class 'dict'>
dicti['Nama'] =  Nisa
dicti[20] = Umur
dicti['Lahir'] = 2000
dicti['Status'] =  Mahasiswa

## Mengubah Nilai pada Dictionary
Anda dapat memperbarui Dictionary dengan menambahkan entri baru atau pasangan nilai kunci, memodifikasi entri yang ada, atau menghapus entri yang ada

In [ ]:
dict= {'Universitas' : 'UAD' , 'Prodi' : 'Matematika' , 'Tahun' : 2018 , 1800015065 : 'NIM'}
dict[1800015065] = 'Bukan NIM' #Mengubah entri atau value yang sudah ada
dict['Universitas'] = 'UGM' #Menambah entri atau value
print("dict[1800015065] =", dict[1800015065]);
print("dict['Universitas'] =", dict['Universitas']);

dict[1800015065] = Bukan NIM
dict['Universitas'] = UGM

In [ ]:
thisdict = {
    "brand" : "Toyota",
    "model" : "Kijang",
    "year" : 2004
}
print(thisdict)

{'brand': 'Toyota', 'model': 'Kijang', 'year': 2004}

Sekarang sudah tau kan kalo nilai dictionary bisa diubah dan kalian sudah paham kan gimana ngubahnya, yuk dicoba dulu biar makin paham :)

In [26]:
#Mengubah nilai directory
dicti = {'Nama' : 'Nisa' , 20 : 'Umur' , 'Lahir' : 2000 , 'Status' : 'Mahasiswa'}
dicti[20] = 'Bukan Umur'
dicti['SMA'] = 'Babarsari'
print("dicti[20] =", dicti[20]);
print("dicti['SMA'] =", dicti['SMA']);

dicti[20] = Bukan Umur
dicti['SMA'] = Babarsari

In [30]:
thisdicti = {
    "brand" : "Samsung",
    "model" : "Grand Prime",
    "year" : 2014
}
print(thisdicti)

{'brand': 'Samsung', 'model': 'Grand Prime', 'year': 2014}

## Loop Melalui Dictionary

Pada bagian Pengulangan melalui Dictionary, kita dapat melakukan Loop(Pengulangan) melalui Dictionary dengan menggunakan **for** loop.

Saat melakukan pengulangan melalui Dictionary, nilai yang dikembalikan adalah kunci dari Dictionary, tetapi terdapat metode untuk mengembalikan nilai

Sebagai contoh :
Print semua nama kunci dalam Dictionary satu per satu

In [ ]:
for x in thisdict:
  print(x)

brand
model
year

**Contoh 2:**

Print semua *nilai* dalam Dictionary satu per satu

In [ ]:
for x in thisdict:
  print(thisdict[x])

Toyota
Kijang
2004

**Contoh 3:**

Kita juga dapat menggunakan **values()** yang merupakan metode untuk mengembalikan nilai Dictionary

In [ ]:
for x in thisdict.values():
  print(x)

Toyota
Kijang
2004

**Contoh 4:**

Ulangi kedua kunci dan nilai, dengan menggunakan metode **items()**:

In [ ]:
for x, y in thisdict.items():
  print(x, y)

brand Toyota
model Kijang
year 2004

Di atas sudah diberikan contoh loop melalui directory menggunakan berbagai cara, sekarang kalian coba biar makin paham

In [32]:
#Loop Melalui Directory
for x in thisdicti :
  print(x)

brand
model
year

In [35]:
for x in thisdicti :
  print(thisdicti[x])

Samsung
Grand Prime
2014

In [36]:
for x in thisdicti.values() :
  print(x)

Samsung
Grand Prime
2014

In [37]:
for x, y in thisdicti.items() :
  print(x, y)

brand Samsung
model Grand Prime
year 2014

## Mengecek keanggotaan suatu key
Untuk menentukan apakah kunci tertentu ada dalam Dictionary gunakan **in** sebagai kunci

**Contoh 6:**

Cek jika "model" terdapat pada Dictionary

In [ ]:
thisdict = {
    "brand" : "Toyota",
    "model" : "Kijang",
    "tahun" : 2004
}
if "model" in thisdict :
  print("Yes, 'model' adalah salah satu dari kunci dalam distict dictionary")

Yes, 'model' adalah salah satu dari kunci dalam distict dictionary

Sekarang kalian coba deh cek keanggotaan suatu key yang ada di dictionary kalian, siapa tahu bukan merupakan anggota kan, bisa jadi penyusup xixixi

In [38]:
#Mengecek keanggotaan suatu key
thisdicti = {
    "brand" : "Samsung",
    "model" : "Grand Prime",
    "tahun" : 2014
}
if "tahun" in thisdicti :
  print("Yes, 'tahun' adalah salah satu dari kunci dalam distict dictionary")

Yes, 'tahun' adalah salah satu dari kunci dalam distict dictionary

## Menambah Item

Untuk menambahkan item, kita dapat menggunakan kunci index baru dengan langsung memberikan nilainya. Untuk contohnya, bisa dilihat kode di bawah ini yaa :)

In [ ]:
thisdict = {'Name': 'Zara', 'Age': 7, 'Class': 'First'}

thisdict['School'] = "DPS School" # Menambah entri baru pada thisdict

print (thisdict)

{'Name': 'Zara', 'Age': 7, 'Class': 'First', 'School': 'DPS School'}

Selain menggunakan format di atas, untuk menambahkan item kita juga bisa menggunakan method update().

In [ ]:
thisdict = {'Name': 'Zara', 'Age': 7, 'Class': 'First'}

thisdict.update({"School": "DPS School"}) #Menambah item baru pada thisdict

print(thisdict)

{'Name': 'Zara', 'Age': 7, 'Class': 'First', 'School': 'DPS School'}

Nah iya nih dalam menambah item baru pada dictionary bisa dilakukan dengan 2 cara, menurut kalian mudah yang mana, dicoba dulu biar tahu rasanya hohoho

In [39]:
#Menambah item baru pada dictionary
thisdicti = {'Hari': 'Sabtu', 'Tanggal': 26, 'Bulan': 'Maret'}

thisdicti['Tahun'] = 2021

print(thisdicti)

{'Hari': 'Sabtu', 'Tanggal': 26, 'Bulan': 'Maret', 'Tahun': 2021}

In [40]:
thisdicti = {'Hari': 'Sabtu', 'Tanggal': 26, 'Bulan': 'Maret'}

thisdicti.update({'Tahun':2021})

print(thisdicti)

{'Hari': 'Sabtu', 'Tanggal': 26, 'Bulan': 'Maret', 'Tahun': 2021}

## Menghapus Item

Untuk menghapus item yang ada pada Dictionary, kita bisa menggunakan perintah del, method pop(), method popitem(), dan method clear().

- Fungsi del adalah fungsi untuk menghapus suatu variabel dari memori.

- Method pop() adalah method yang berfungsi untuk mengeluarkan item yang diinginkan dari dictionary.

- Method popitem() adalah method yang digunakan untuk menghapus item yang terakhir.

- Method clear() adalah method yang digunakan untuk mengosongkan dictionary.

In [ ]:
#Menghapus item menggunakan del
thisdict = {'Name': 'Zara', 'Age': 7, 'Class': 'First'}
del thisdict["Name"]

print(thisdict)

{'Age': 7, 'Class': 'First'}

In [ ]:
#Menghapus item menggunakan method pop()
thisdict = {'Name': 'Zara', 'Age': 7, 'Class': 'First'}
thisdict.pop("Age")

print(thisdict)

{'Name': 'Zara', 'Class': 'First'}

In [ ]:
#Menghapus item menggunakan method popitem()
thisdict = {'Name': 'Zara', 'Age': 7, 'Class': 'First'}
thisdict.popitem()

print(thisdict)

{'Name': 'Zara', 'Age': 7}

In [ ]:
#Menghapus item menggunakan method clear()
thisdict = {'Name': 'Zara', 'Age': 7, 'Class': 'First'}
thisdict.clear()

print(thisdict)

{}

Dan kalo menghapus dictionary ternyata ada 4 cara lohh, pada contoh di atas sudah jelas kan, supaya tambah jelas silahkan dicoba yaa ;)

In [43]:
#Menghapus item menggunakan del
thisdicti = {'Hari': 'Sabtu', 'Tanggal': 26, 'Bulan': 'Maret'}
del thisdicti["Hari"]

print(thisdicti)

{'Tanggal': 26, 'Bulan': 'Maret'}

In [47]:
#Menghapus item menggunapak method pop()
thisdicti = {'Hari': 'Sabtu', 'Tanggal': 26, 'Bulan': 'Maret'}
thisdicti.pop("Tanggal")

print(thisdicti)

{'Hari': 'Sabtu', 'Bulan': 'Maret'}

In [48]:
#Menghapus item menggunakan method popitem()
thisdicti = {'Hari': 'Sabtu', 'Tanggal': 26, 'Bulan': 'Maret'}
thisdicti.popitem()

print(thisdicti)

{'Hari': 'Sabtu', 'Tanggal': 26}

In [49]:
#Menghapus item menggunakan method clear()
thisdicti = {'Hari': 'Sabtu', 'Tanggal': 26, 'Bulan': 'Maret'}
thisdicti.clear()

print(thisdicti)

{}

Untuk menyalin dictionary, kita dapat menggunakan method copy().

In [ ]:
#Menggunakan method copy()
thisdict = {'Name': 'Zara', 'Age': 7, 'Class': 'First'}
mydict=thisdict.copy()

print(mydict)

{'Name': 'Zara', 'Age': 7, 'Class': 'First'}

Yuk coba salin dictionary yang telah kalian buat tadi, biar bisa diotak atik lagi xixixi

In [50]:
#Menyalin dictionary
thisdicti = {'Hari': 'Sabtu', 'Tanggal': 26, 'Bulan': 'Maret'}
dictiku=thisdicti.copy()

print(dictiku)

{'Hari': 'Sabtu', 'Tanggal': 26, 'Bulan': 'Maret'}

## Nested Dictionary
Nested Dictionary atau kamus bertingkat merupakan suatu kamus yang mana kamus tersebut bisa diisi dengan satu atau lebih kamus di dalamnya.

Kita akan membuat sebuah contoh Kamus yang memuat 3 kamus di dalamnya

In [ ]:
Keluarga_afif={
    "anak1":{
        "nama":"dera",
        "Tanggal Lahir": 19012000
    },
    "anak2":{
        "nama":"Joko",
        "Tanggal Lahir": 17091997 
    },
    "anak3":{
        "nama":"Asih",
        "Tanggal Lahir": 20022000
    }
}

print(Keluarga_afif)

{'anak1': {'nama': 'dera', 'Tanggal Lahir': 19012000}, 'anak2': {'nama': 'Joko', 'Tanggal Lahir': 17091997}, 'anak3': {'nama': 'Asih', 'Tanggal Lahir': 20022000}}

Kita akan membuat suatu Kamus yang akan berisi 3 kamus lainnya

In [ ]:
anak1={"nama":"Rikma","Tanggal Lahir":19012000}
anak2={"nama":"Joko","Tanggal Lahir":17091997}
anak3={"nama":"Asih","Tanggal Lahir":20022000}

Keluarga_afif={"anak1":anak1,"anak2":anak2,"anak3":anak3}
print(Keluarga_afif)

{'anak1': {'nama': 'Rikma', 'Tanggal Lahir': 19012000}, 'anak2': {'nama': 'Joko', 'Tanggal Lahir': 17091997}, 'anak3': {'nama': 'Asih', 'Tanggal Lahir': 20022000}}

Atau kita juga dapat menggunakan fungsi dict() untuk membuat kamus yang baru

In [ ]:
Indoapril=dict(barang='Minuman',merek='BearBrand',harga=7000)
#Perlu di perhatikan  bahwa dalam fungsi dict() kita tidak lagi memakai kolon (:) tetapi menggunakan sama dengan (=)
print(Indoapril)

TypeError: ignored

Paham belum nih tentang materi nested dictionary, coba sekarang kalian buat dan pahami, nanti pasti paham kalo udah nyoba ;)

In [52]:
#Nested dictionary
Keluarga_ku={
    "Aku":{
        "Nama":"Nisa",
        "Tanggal Lahir": 11072000
    },
    "Adik1":{
        "Nama":"Keke",
        "Tanggal Lahir": 22082007
    },
    "Adik2":{
        "nama":"Nando",
        "Tanggal Lahir": 22042011
    }
}

print(Keluarga_ku)

{'Aku': {'Nama': 'Nisa', 'Tanggal Lahir': 11072000}, 'Adik1': {'Nama': 'Keke', 'Tanggal Lahir': 22082007}, 'Adik2': {'nama': 'Nando', 'Tanggal Lahir': 22042011}}

In [53]:
Aku={"Nama":"Nisa","Tanggal Lahir":11072000}
Adik1={"nama":"Keke","Tanggal Lahir":22082007}
Adik2={"nama":"Nando","Tanggal Lahir":22042011}

Keluarga_ku={"Aku":Aku,"Adik1":Adik1,"Adik2":Adik2}
print(Keluarga_ku)

{'Aku': {'Nama': 'Nisa', 'Tanggal Lahir': 11072000}, 'Adik1': {'nama': 'Keke', 'Tanggal Lahir': 22082007}, 'Adik2': {'nama': 'Nando', 'Tanggal Lahir': 22042011}}

In [55]:
Alfamart=dicti(barang='Minuman',merek='Sprite',harga=4500)
#Perlu di perhatikan bahwa dalam fungsi dict() kita tidak lagi memakai kolon (:) tetapi menggunakan sama dengan (=)
print(Alfamart)

TypeError: ignored



---


#**Berbagai Method untuk Dictionary**

---

- clear() : Menghapus semua elemen dictionary
- copy() : Mengembalikan salinan dictionary
- fromkeys() : Buat Dictionary baru dengan kunci dari seq dan nilai yang disetel ke nilai.
- get() : Mengembalikan nilai dari kunci yang ditentukan
- items() : Mengembalikan daftar dari pasangan tuple dictionary (key, value)
- keys() : Mengembalikan daftar key dictionary
- pop() : Menghapus item kunci yang disebutkan
- popitem() : Menghapus item yang terakhir dimasukkan
- setdefault() : Mengembalikan nilai dari kunci yang ditentukan. Jika kunci tidak ada: masukkan kunci dengan nilai yang ditentukan
- update() : Menambah pasangan kunci yang diinginkan
- values() : Mengembalikan daftar nilai dictionary

## Clear()
Untuk menghapus semua item/elemen yang termuat didalam dictionary, gunakan fungsi **clear()**

dictionary.clear

print(dictionary)

In [ ]:
dict= {'Universitas' : 'UAD' , 'Prodi' : 'Matematika' , 'Tahun' : 2018 , 1800015065 : 'NIM'}
dict.clear()
print(dict)

{}

In [57]:
dicti = {'Nama' : 'Nisa' , 20 : 'Umur' , 'Lahir' : 2000 , 'Status' : 'Mahasiswa'}
dicti.clear()
print(dicti)

{}

## Copy()
Untuk mengcopy/menyalin item didalam dictionary, bisa digunakan fungsi **copy()**

In [ ]:
dict= {'Universitas' : 'UAD' , 'Prodi' : 'Matematika' , 'Tahun' : 2018 , 1800015065 : 'NIM'}
C=dict.copy()
print(C)

{'Universitas': 'UAD', 'Prodi': 'Matematika', 'Tahun': 2018, 1800015065: 'NIM'}

In [63]:
dicti = {'Nama' : 'Nisa' , 20 : 'Umur' , 'Lahir' : 2000 , 'Status' : 'Mahasiswa'}
C = dicti.copy()
print(dicti)

{'Nama': 'Nisa', 20: 'Umur', 'Lahir': 2000, 'Status': 'Mahasiswa'}

##Fromkeys()
Untuk menyalin elemen di dalam dictionary, namun dengan kunci(key) dan nilai(value) tertentu, dapat menggunakan fungsi **fromkeys()**

In [ ]:
dict= {'Universitas' : 'UAD' , 'Prodi' : 'Matematika' , 'Tahun' : 2018 , 1800015065 : 'NIM'}
x = ('Universitas', 'Prodi')
y = 0

thisdict = dict.fromkeys(x, y)

print(thisdict)

{'Universitas': 0, 'Prodi': 0}

In [66]:
dicti = {'Nama' : 'Nisa' , 20 : 'Umur' , 'Lahir' : 2000 , 'Status' : 'Mahasiswa'}
x = ('Lahir', 'Status')
y = 0

thisdicti = dicti.fromkeys(x, y)

print(thisdicti)

{'Lahir': 0, 'Status': 0}

## Get()

In [ ]:
car =	{
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}

print(car.get('model'))

Mustang

In [69]:
binatang = {
    "Nama": "Rusa",
    "Makanan":"Rumput",
    "Jumlah": 20
}

print(binatang.get('Nama'))

Rusa

##Items()

In [ ]:
car =	{
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}

print(car.items())

dict_items([('brand', 'Ford'), ('model', 'Mustang'), ('year', 1964)])

In [70]:
binatang = {
    "Nama": "Rusa",
    "Makanan":"Rumput",
    "Jumlah": 20
}

print(binatang.items())

dict_items([('Nama', 'Rusa'), ('Makanan', 'Rumput'), ('Jumlah', 20)])

##Pop()

Menghapus item kunci sekaligus value yang disebutkan,mari kita lihat contohnya dibawah ini

In [ ]:
indoapril={'Barang':'Gundam','Merek':'Bandai','Jumlah':200}
indoapril.pop('Barang')
print(indoapril)

{'Merek': 'Bandai', 'Jumlah': 200}

In [71]:
bunga={'Nama':'Tulip','Asal':'Turki','Jenis':3000}
bunga.pop('Jenis')
print(bunga)

{'Nama': 'Tulip', 'Asal': 'Turki'}

## Popitem()

Menghapus item yang terakhir dimasukkan

In [ ]:
#Kita akan menghilangkan pelakor dalam "kehidupan_keluarga"
kehidupan_keluarga={'suami':'Budi','istri':'Dewi','pelakor':'Sari'}
kehidupan_keluarga.popitem()
print(kehidupan_keluarga)

{'suami': 'Budi', 'istri': 'Dewi'}

In [72]:
buah={'Nama':'Durian','Asal':'Indonesia','Jenis':10,'Warna':'Kuning'}
buah.popitem()
print(buah)

{'Nama': 'Durian', 'Asal': 'Indonesia', 'Jenis': 10}

## Update()

Menambahkan pasangan kunci yang diinginkan

In [ ]:
indoapril={'Barang':'Gundam','Merek':'Bandai','Jumlah':2000}
indoapril.update({'Tanggal_Masuk': 12022020})
print(indoapril)

{'Barang': 'Gundam', 'Merek': 'Bandai', 'Jumlah': 2000, 'Tanggal_Masuk': 12022020}

In [73]:
alat_musik={'Dipetik':'Gitar','Ditiup':'Pianika','Digesek':'Biola','Dipukul':'Gamelan'}
alat_musik.update({'Jumlah':4})
print(alat_musik)

{'Dipetik': 'Gitar', 'Ditiup': 'Pianika', 'Digesek': 'Biola', 'Dipukul': 'Gamelan', 'Jumlah': 4}

## Values()

Mengembalikan daftar nilai pada dictionary

In [ ]:
indoapril={'Barang':'Gundam','Merek':'Bandai','Jumlah':200}
a=indoapril.values()
print(a)

dict_values(['Gundam', 'Bandai', 200])

In [74]:
alat_musik={'Dipetik':'Gitar','Ditiup':'Pianika','Digesek':'Biola','Dipukul':'Gamelan'}
b=alat_musik.values()
print(b)

dict_values(['Gitar', 'Pianika', 'Biola', 'Gamelan'])

## len()

Method len digunakan untuk mengetahui banyaknya item yang ada pada directory

In [ ]:
car =	{
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}

print(len(car))

3

In [75]:
binatang = {
    "Nama": "Rusa",
    "Makanan":"Rumput",
    "Jumlah": 20
}

print(len(binatang))

3

#The End Of Notebook

Alhamdulillah